* {
    margin: 0;
    padding: 0;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: white;
}

img {
    width: 100%;
}

p {
    color: #476788;
}

.breadcrum-language {
    background-color: #F7FAFF;
}

.select-btn {
    outline: none;
    color: #476689;
    padding: 0;
    margin: 0;
}


/* Style the button */
.dropbtn {

    color: black;
    background-color: transparent;
    padding: 10px;
    border: none;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 560px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

/* Show the dropdown content when the button is hovered over */
.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-btn {
    text-decoration: none;
    color: #0B3459;
}

.text-navy {
    color: #233F5C;
}

li {
    text-decoration: none;
    display: flex;
}

.fw-normall {
    font-weight: 600;
}

.btn-new-feature {
    font-size: 13px;
    padding: 2px 12px;
    background-color: transparent;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    padding: 5px 6px;
    border: 1px solid rgb(110, 107, 107);
}

.new-feature-text {
    padding: 1px 5px;
    border-radius: 100px;
}

a {
    text-decoration: none;
}

.text-shade {
    color: #728B9E;
}

.hero-heading {
    font-size: 70px;
    font-weight: 650;
}

.hero-p {
    font-size: 23px;
}

.hero-signin {
    background-color: transparent;
    font-weight: 600;
    padding: 7px 62px;
    border: 1px solid gray;
    border-radius: 9px;

}

.signin-btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.girl-purple {
    position: absolute;
    max-width: 100px;
    top: 50px;
    left: 70px;
}

.boy-green {
    max-width: 100px;
    position: absolute;
    right: 80px;
    top: 50px;
}

.boy-blue {
    position: absolute;
    max-width: 120px;
    bottom: 100px;
    left: 100px;
}

.girl-pink {
    max-width: 120px;
    position: absolute;
    bottom: 100px;
    right: 110px;
}

.logo-sm {
    display: none;
}

.hero-signin:hover {
    border: 1px solid #0D6EFD;
}

.h1-scheduling-section {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #1D344B;
}

.border-or-left {
    width: 100px;
    height: 3px;
    background-color: black;
}


.line-div {
    text-align: center;
}

.line-div::before,
.line-div::after {
    content: "";
    display: inline-block;
    width: 100%;
    max-width: 100px;
    /* Adjust the width of the lines as needed */
    border-top: 1px solid #a19b9b;
    /* Adjust the color and thickness of the lines */
    margin: 0 10px;
    /* Adjust the spacing between the lines and text */
}

.custom-marquee {

    overflow: hidden;
}

.custom-marquee .d-flex {
    animation: marqueeAnimation 10s linear infinite;
}

@keyframes marqueeAnimation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

html,
body {
    position: relative;

}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}


.mySwiper .swiper-slide-thumb-active {
    border-bottom: 3px solid #0E72FE;
    color: #0D6EFD;

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-tabs:hover {
    background-color: #F6FAFE;
}

.swiper-tabs {
    transition: all ease 0.5s;

}

.swiper-slide.swiper-tabs h6.text-navy.active {
    color: #0E72FE;
}

.ff-normal {
    font-family: Arial, Helvetica, sans-serif;
}

.h1-loream {
    font-size: 50px;
}


.Scheduling-section {
    overflow: hidden;
}

.Scheduling-section .inner-container {
    display: flex;
    overflow: hidden;
}

.Scheduling-section-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 380px;
    width: 100%;
    height: 100%;
}


.Scheduling-sction p {
    font-size: 17px;
}

.Scheduling-sction a {
    font-size: 18px;
}

.scheduling-image {
    top: 150px;
    z-index: 100;
    position: sticky;
}

.background-calendly-message {
    background-color: #F7FAFF;
}


.px-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.background-img {

    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    background: url(Screenshot\ 2023-10-26\ 032433.png);
}

.btn-explore-integrations {
    align-self: baseline;
}

.security-pl {
    padding-left: 35px;
}

.security-max-width {
    max-width: 500px;

}

.background-get-started {
    background-color: #F6FBFF;
}

.letter-spacing-heading {
    letter-spacing: 1px;
}



.btn-get-your-copy {
    width: fit-content;
    height: fit-content;
}



.bg-light-primary {
    background-color: #E0F3FF;
 
}

.notification {
    font-size: 11px;
  
}

.notification-popular {
    background-color: #F6FBFF;
}

.footer-btn {
    font-weight: 500;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    
    color: rgb(11, 53, 88);
}

.td-underline:hover{
    
    text-decoration: underline;
}


.haha {

    gap: 15px;
}


.btn-aa {
    color: rgb(11, 53, 88);
}

.footer-row-sm-appear {
    display: none;
}

.accordion-btn {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.heading-extension {
    font-size: 45px;

}

.hahaha {
    padding: 10px;
    width: 100px;
    height: 100px;
    box-shadow: rgba(71, 103, 136, 0.04) 0px 4px 4.5px 0px, rgba(71, 103, 136, 0.03) 0px 8px 15px 0px, rgba(71, 103, 136, 0.06) 0px 15px 30px 0px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hahaha:hover {
    border: 1px solid #0E72FE;
    background-color: #F6FBFF;

}

.hahaha img {
    width: 100%;
    max-width: 60px;
}

.text-nowrap {
    display: flex;
    flex-wrap: nowrap;

}






.faqs-btn:hover{
    color: #0D6EFD;
}

#section1,
#section2,
#section3,
#section4,
#section5,
#section6,
#section7{
    display: none;
}

.accordion-title {

 width: 100%;
    padding: 10px;
    cursor: pointer;
}

.accordion-content{
    transition: all ease 1s;
    border: none;
   
}


.chievron-appearence{
    display: none;
}

@media screen and (max-width:500px) {
    .accordion-content {
    max-height: 0;
    display: none;

    padding: 10px;
    background-color: #fff;
    transition: max-height 1s;
}


input[type="checkbox"]:checked + .accordion-title + .accordion-content {
    max-height: 1000px;
    display: block;
}


.accordion-item{
    width: 100%;
    max-width: 500px;
    overflow: hidden;
    padding-bottom: 10px;
}

.chievron-appearence{
display: block;
}

.arrow-appearence{
display: none;
}
.product-arrow{
    justify-content: space-between;
}

}






@media screen and (max-width:508px) {



    .footer-2-none {
        display: none;
    }

    p {
        font-size: 14px;
    }

    .footer-row-sm-none {
        display: none;
    }

    .footer-row-sm-appear {
        display: block;
    }


}

@media screen and (max-width:990px) {
    .hero-obsolute-img {
        display: none;
    }

    .row-sales-border {
        border: 2px solid #EAEFF7;
        border-radius: 25px;
    }

    .Scheduling-section-content {
        gap: 20px;
    }

    .br-h1-loream-none {
        display: none;
    }

    .heading-extension {
        font-size: 30px;
    }

    .get-start-btn{
        width: 100%;
    }

}

@media screen and (max-width:440px) {
    .logo-lg {
        display: none;
    }

    .logo-sm {
        display: block;
    }


}

@media screen and (max-width:1400px) {
    .hero-heading {
        font-size: 65px;
    }

    .hero-p {
        font-size: 20px;
    }
}

@media screen and (max-width:500px) {
    .hero-heading {
        font-size: 40px;
    }

    .hero-p {
        font-size: 20px;
    }

 
}

@media screen and (max-width:770px) {
    .br-20-million {
        display: none;
    }

    .h1-loream {
        font-size: 30px;
    }

}

@media screen and (max-width:536px) {

    .signin-btn-group {
        flex-direction: column;
    }

    .hero-signin {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:1000px) {

    .br-sceduling-section {
        display: none;
    }

    .h1-scheduling-section {
        font-size: 35px;
    }
}

@media screen and (max-width:550px) {
    .h1-scheduling-section {
        font-size: 28px;
    }
}